.topContainer
{
    border:solid blue;
    padding:1em;
    margin:1em;
    display:flex;
}

.topContainer:hover
{
    background-color:skyblue;
}

.midContainer
{
    border:solid green;
    height:42vh;
    margin:1em;
    display:flex;
    flex-wrap:wrap;
}

.lowContainer
{
    border:solid purple;
    height:42vh;
    margin:1em;
}

.topTitle
{
    text-align:center;
    padding:.5em;
    margin-top:7%;
    margin-bottom:7%;
    width:13%;
}

.pTitle
{
    border:solid peru;
    width:20%;
    text-align:center;
    font-size:18px;
}

.description
{
    
    padding:12px;
    width:84%;
    text-align:justify;
    border:dotted black;
}

.phaseContainer
{
    border:solid black;
    border-width:2px;
    width:87%;
}

.phase
{
    display:flex;
    padding:1.15em;
}

.phase:hover
{
    background-color:powderblue;
    /*border:solid lightblue;*/
    /*margin:1em;*/
    display:flex;
}

.attnBtn
{
    border:solid blue;
    border-width:.2px;
    height:20px;
    margin:.5em;
    text-align:center;
    width:15%;
    border-radius:22px;
    font-size:18px;
    background-color: black;
    color:white;
    cursor: pointer;
}

.attnBtn:hover
{
    border:solid blue;
    border-width:.2px;
    height:20px;
    margin:.5em;
    text-align:center;
    width:15%;
    border-radius:22px;
    font-size:18px;
    background-color: green;
    color:white;
}